
.van-toast__text
    text-align center
.van-picker__cancel
    color #999999 !important
.van-picker__confirm
    color #e16e75 !important


// 大转盘提示 文字居中
.dialog-text-show
  .van-dialog__message
    text-align center;