/*彩色背景*/
.bg-color,.btn-bg,.bg-heart{
  background-color: transparent !important;
  background-blend-mode: normal, normal !important;
}
/* 彩色背景 */
.bg-color{
  background-image: linear-gradient(-90deg, #fa7a8f 0%, #6591f8 100%), linear-gradient(#6b90f4, #6b90f4);
}
.bg-btn{
  background-image: linear-gradient(-90deg, #4facfe 0%, #6691f7 100%), linear-gradient( #fdf8ff, #fdf8ff);
}
.bg-heart{
  background-image: linear-gradient(90deg, #f97590 0%, #fe9a8b 100%), linear-gradient(-90deg, #fa7a8f 0%, #6591f8 100%);
}